{% extends 'just_cabs_base.html' %} {% load static %} {% load crispy_forms_tags %} {% block title %}Justrip | Admin Car Types{% endblock %} {% block content %}
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <h2>Admin Panel</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                {% if messages %} {% for message in messages %} {% if message.level == DEFAULT_MESSAGE_LEVELS.INFO %}
                <div class="alert alert-info">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                      <i class="material-icons">close</i>
                    </button>
                    <span>{{message}}</span>
                </div>
                {% elif message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                <div class="alert alert-success">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                      <i class="material-icons">close</i>
                    </button>
                    <span>
                        {{message}}</span>
                </div>
                {% elif message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}
                <div class="alert alert-warning">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                      <i class="material-icons">close</i>
                    </button>
                    <span>
                        {{message}}</span>
                </div>
                {% elif message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                <div class="alert alert-danger">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                      <i class="material-icons">close</i>
                    </button>
                    <span>
                        {{message}}</span>
                </div>
                {% endif %} {% endfor %} {% endif %}
            </div>
        </div>
        <div class="row">
            <div class="col">
                <a href="{% url 'admin_edit_car_type' type_id=0 %}" class="btn btn-primary">Add Car</a>
            </div>
        </div>
        <div class="row mb-5">
            <div class="col-md-4">
                <label>Apply Filter</label>
                <select class="form-control" onChange="window.location.href=this.value">
                    <option value="{% url 'admin_car_types' %}">All Cars Types</option>
                    {% if active_car_type %}
                    <option value="{% url 'admin_active_car_types' %}" selected>Active Cars</option>
                    {% else %}
                    <option value="{% url 'admin_active_car_types' %}">Active Cars</option>
                    {% endif %}
                    {% if deactive_car_type %}
                    <option value="{% url 'admin_deactive_car_types' %}" selected>Deactive Cars</option>
                    {% else %}
                    <option value="{% url 'admin_deactive_car_types' %}">Deactive Cars</option>
                    {% endif %}
                </select>
            </div>
        </div>
        <div class="row">
            {% for type in car_types %}
            <div class="col-md-7">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-5 text-center">
                                <img height="200" src='{{type.picture.url}}'>
                                <h6 class="whitetext">{{type.name}}</h6>
                                <h6 class="whitetext">{{type.description}}</h6>
                            </div>
                            <div class="col text-right">
                                <h3 class="whitetext">Min. Charge: Rs.{{type.local_oneway_min_charge}}</h3>
                                <h4 class="">Min. Distance: {{type.local_oneway_min_km}} KMs</h4>
                                <p class="small">Rs.{{type.local_oneway_rate_per_km}} per km after minimum distance</p>
                                <a href="{% url 'admin_edit_car_type' type_id=type.id %}" class="btn btn-primary">{% if staff %}View{% else %}Edit{% endif %}</a>
                                <form method="POST">
                                    {% csrf_token %}
                                    <div class="row">
                                        {% if type.is_active %}
                                        <div class="col">
                                            <button class="btn btn-danger" value="{{type.id}}" name="deactivate">deactivate</button>
                                        </div>
                                        {% else %}
                                        <div class="col">
                                            <button class="btn btn-success" value="{{type.id}}" name="activate">Activate</button>
                                        </div>
                                        {% endif %}
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %} {% block sidebar %}
<ul class="nav">
    <li class="nav-item ">
        <a class="nav-link" href="{% url 'admin_unverified_trips' %}">
            <i class="material-icons">navigation</i>
            <p>Trips</p>
        </a>
    </li>
    <li class="nav-item ">
        <a class="nav-link" href="{% url 'admin_customers' %}">
            <i class="material-icons">people_alt</i>
            <p>Customers</p>
        </a>
    </li>
    <li class="nav-item active">
        <a class="nav-link" href="{% url 'admin_cars' %}">
            <i class="material-icons">directions_car</i>
            <p>Cars</p>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'admin_drivers' %}">
            <i class="material-icons">assignment_ind</i>
            <p>Drivers</p>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'admin_owners' %}">
            <i class="material-icons">person</i>
            <p>Owners</p>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'admin_car_types' %}">
            <i class="material-icons">local_taxi</i>
            <p>Car Types</p>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'admin_charts' %}">
            <i class="material-icons">assessment</i>
            <p>Graphs</p>
        </a>
    </li>
</ul>
{% endblock %}