{% extends 'just_cabs_base.html' %} {% load static %} {% load crispy_forms_tags %} {% block title %}Justrip | Owner Dashboard{% endblock %} {% block content %}
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <a href="{% url 'owner_details' %}" class="btn btn-primary">My Profile</a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                {% if messages %} {% for message in messages %} {% if message.level == DEFAULT_MESSAGE_LEVELS.INFO %}
                <div class="alert alert-info">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                      <i class="material-icons">close</i>
                    </button>
                    <span>{{message}}</span>
                </div>
                {% elif message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                <div class="alert alert-success">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                      <i class="material-icons">close</i>
                    </button>
                    <span>
                        {{message}}</span>
                </div>
                {% elif message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}
                <div class="alert alert-warning">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                      <i class="material-icons">close</i>
                    </button>
                    <span>
                        {{message}}</span>
                </div>
                {% elif message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                <div class="alert alert-danger">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                      <i class="material-icons">close</i>
                    </button>
                    <span>
                        {{message}}</span>
                </div>
                {% endif %} {% endfor %} {% endif %}
            </div>
        </div>
        <br>
        <br>
        <div class="row">
            {% if car %}
            <div class="col-xl-3 col-lg-6">
                <div class="card card-profile">
                    <div class="card-avatar">
                        <img id="car_side_left_picture" class="img" src="{{car.car_side_left.url}}">
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">{{car.name}}</h4>
                        {% if car.is_verified %}
                        <h5 class="card-category">
                            <span class="text-success">Verified</span></h5>
                        {% else %}
                        <h5 class="card-category">
                            <span class="text-danger">Pending Verification</span></h5>
                        {% endif %}
                        <h4 class="card-title"><strong>No: </strong>{{car.licence_plate_no}}</p>
                            {% if car.is_verified %}
                            <a class="btn btn-primary" href="{% url 'owner_car' %}" role="button">
                            View
                        </a> {% else %}
                            <a class="btn btn-primary" href="{% url 'owner_car' %}" role="button">
                            Edit
                        </a> {% endif %}
                    </div>
                </div>
            </div>
            {% else %}
            <div class="col-xl-3 col-lg-6">
                <a href="{% url 'owner_car' %}" class="btn btn-primary">Add Car Documents</a>
            </div>
            {% endif %} {% if driver %}
            <div class="col-xl-3 col-lg-6">
                <div class="card card-profile">
                    <div class="card-avatar">
                        <img id="profile_picture" class="img" src="{{driver.picture.url}}">
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">{{driver.name}}</h4>
                        {% if driver.is_verified %}
                        <h5 class="card-category">
                            <span class="text-success">Verified</span></h5>
                        {% else %}
                        <h5 class="card-category">
                            <span class="text-danger">Pending Verification</span></h5>
                        {% endif %}
                        <h4 class="card-title"><strong>Phone: </strong>{{driver.phone}}</p>
                            {% if driver.is_verified %}
                            <a class="btn btn-primary" href="{% url 'owner_driver_details' %}" role="button">
                            View
                        </a> {% else %}
                            <a class="btn btn-primary" href="{% url 'owner_driver_details' %}" role="button">
                            Edit
                        </a> {% endif %}
                    </div>
                </div>
            </div>
            {% else %}
            <div class="col-xl-3 col-lg-6">
                <a href="{% url 'owner_driver_details' %}" class="btn btn-primary">Add Driver Documents</a>
            </div>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %} 
{% block customjs %}
<script>
$(document).ready(function() {
            $("#dash").addClass("active");
        });
</script>
{% endblock %}
{% block sidebar %}
<ul class="nav">
    <li class="nav-item active">
        <a class="nav-link" href="{% url 'owner_home' %}">
            <i class="material-icons">dashboard</i>
            <p>Dashboard</p>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'owner_details' %}">
            <i class="material-icons">account_box</i>
            <p>My Profile</p>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'owner_driver_details' %}">
            <i class="material-icons">assignment_ind</i>
            <p>Diver Profile</p>
        </a>
    </li>
    <li class="nav-item ">
        <a class="nav-link" href="{% url 'owner_car' %}">
            <i class="material-icons">directions_car</i>
            <p>My Car</p>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'owner_active_bookings' %}">
            <i class="material-icons">navigation</i>
            <p>My Trips</p>
        </a>
    </li>
</ul>
{% endblock %}