{% extends 'just_cabs_base.html' %} {% block title %}Justrip | Recover Password{% endblock %}{% block content %} {% if invalid %}

<script type="text/javascript">
    alert("Incorrect Username/Password !");
</script>

{% endif %}



<div class="row loginrow">
    <div class="col-xs-12 col-sm-5 col-md-5 col-lg-4 logincol">
        <div class="container-fluid">
            <div class="row fontcabin centered loginheading">
                <h4>Recover Password</h4>
            </div>
            <form method="POST">{% csrf_token %}
                <div class="row">
                    <div class="col-xs-12 col-sm-10 col-md-10 col-lg-10 logincol1">
                        <input type="password" name="new_password" placeholder="New Password" class="loginemail" required>
                        <input type="password" name="confirm_password" placeholder="Confirm Password" class="loginpassword" required>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-10 col-md-10 col-lg-10 logincol2">
                        <button class="py-2 loginbutton" type="submit">Recover</button>
                    </div>
                </div>
            </form>
            <div class="row" style="margin-top: 1.3vh;">
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 pl-4">
                    <p style="font-size: .8em">New Here ? <a href="/userdetail/register" style="text-decoration: none;color: #30c5ff;">Create Account</a></p>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 pl-4">
                    <p style="font-size: .8em"><a href="/userdetail/login" style="text-decoration: none;color: #30c5ff;">Login</a></p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}